pytz==2025.1
loguru==0.7.3
httpx[http2]==0.28.1
fake-useragent==2.1.0
pandas==2.2.3
matplotlib==3.10.1
seaborn==0.13.2
pydantic==2.10.6
pydantic-settings==2.8.1
jinja2==3.1.6
prettytable==3.15.1
setuptools
git+https://github.com/twopirllc/pandas-ta.git@development
