Crypto RSI: {{ time.strftime('%Y-%m-%d %H:%M:%S') }}
Average: {{ average | round(2) }} -> {{ conclude }}
Oversold: {{ oversold_percentage | round(2) }}%
Overbought: {{ overbought_percentage | round(2) }}%

<a href="https://accounts.binance.com/register?ref=ANHTHANDEN">Create new Binance account</a>