💵 P2P: <b>{{ price }} VND/USDT</b> on <a href="https://p2p.binance.com/en/trade/all-payments/USDT?fiat=VND">Binance</a>
🕖 Time: {{ time.strftime('%Y-%m-%d %H:%M:%S') }}

<a href="https://accounts.binance.com/register?ref=ANHTHANDEN">Create new Binance account</a>
