{% if delta > 0 %}😀{% elif delta < 0 %}☹️{% else %}🙄{% endif %} Date {{ '{:%Y-%m-%d}'.format(date) }}
VN30 {{ '{:.2f}'.format(value) }} ({{ '{:+.2f}'.format(delta) }} ~ {{ '{:+.2f}%'.format(percent) }})
