name: Update Crypto RSI

on:
  schedule:
    - cron: 0 * * * *

permissions:
  contents: read

jobs:
  update-crypto-rsi:
    if: github.repository_owner == 'khiemdoan'
    runs-on: ubuntu-slim
    steps:
      - name: Checkout repo content
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync --frozen

      - name: Update Crypto RSI
        run: uv run src/update_crypto_rsi.py
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
